
<header class="header-2 skew-separator">
  <div class="page-header bg-primary" >
    <div class="page-header-image"></div>
    <div class="container pt-200">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">

          <p id="myElement" class=" text-white mb-4" style="letter-spacing: 0.2em; font-size: 1.6275rem;"></p>
          <h2 class="display-2 text-white"><i class="fab fa-js"></i> idemeum demo app</h2>
		  <p class="lead text-white mt-3"><mark style="color: #FFC463; background-color: #3E79F1">Welcome to idemeum JavaScript demo application!</mark></p>
		  <p class=" text-white mt-3">Using this demo app you can get a feel for how idemeum can enable your app to go passwordless. With a few lines of code you can enable one-click, biometric, or mobile app login. Try the flows below. </p>
		  
		  <a href="/one-click"><button type="button" class="btn btn-default mt-2">One-click login</button></a>
		  <a href="/biometric"><button type="button" class="btn btn-info mt-2" onclick="idemeum1.LoginPage()">Biometric login</button></a>
		  <a href="/mobile-app"><button type="button" class="btn btn-success mt-2">Mobile app login</button></a>
		  
        </div>
      </div>
      <div class="row">
        <div class="floating-box">
        </div>
      </div>
    </div>
  </div>
</header>