<meta property="og:image" content="https://drive.google.com/file/d/1yOHm7xVRFAzFeEnTiRMxrD9yjAoufhu4/view?usp=sharing">


<header class="header-2 skew-separator">
  <div class="page-header bg-primary" >
    <div class="page-header-image"></div>
    <div class="container pt-200">
      <div class="row">
        <div class="col-md-8 mx-auto text-center">

          <p id="myElement" class=" text-white mb-4" style="letter-spacing: 0.2em; font-size: 1.6275rem;"></p>
          <h2 class="display-2 text-white"><i class="fab fa-js"></i> idemeum demo app</h2>
		  <h4 class="mt-5 text-yellow">Welcome to idemeum JavaScript demo application!</h1>
		  <p class="text-white mt-3">Get a feel for how idemeum can help your app to go passwordless. With a few lines of code enable one-click, biometric, or QR-code login. Try the flows below. </p>
		  
		  <a href="/one-click"><button type="button" class="btn btn-default mt-2 fixed-width">One-click login</button></a>
		  <a href="/biometric"><button type="button" class="btn btn-info mt-2 fixed-width">Biometric login</button></a>
		  <a href="/mobile-app"><button type="button" class="btn btn-success mt-2 fixed-width">QR-code login</button></a>
		  
        </div>
      </div>
      <div class="row">
        <div class="floating-box">
        </div>
      </div>
    </div>
  </div>
</header>